{% extends '@App/Admin/Admin/administrator.html.twig' %}

{% block contentAdmin %}
    <div class="block_add_post">
        <h1>Add new post!</h1>
        {{ form(form) }}
        {{ tinymce_init() }}
    </div>
{% endblock contentAdmin %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.tagsinput.min.js') }}"></script>
    <script>
        jQuery(document).ready(function(){
            $('#add_post_tag_list').tagsInput({
                'width':'100%',
                'height': '47px'
            });
        })
    </script>
{% endblock javascripts %}